@use '../variables' as vars;

@mixin -font($family, $size) {
	font: {
		family: $family;
		size: $size;
	};
}

@mixin main-font($size: vars.$font-size-default) {
	@include -font('Montserrat Regular', $size);
}

@mixin main-medium-font($size: vars.$font-size-default) {
	@include -font('Montserrat Medium', $size);
}

@mixin main-bolded-font($size: vars.$font-size-default) {
	@include -font('Montserrat SemiBold', $size);
}

@mixin hand-written-font($size: vars.$font-size-default) {
	@include -font('Indie_Flower', $size);
}