@mixin first-letter-capital() {
	&:first-letter {
		text-transform: uppercase;
	}
}

@mixin line-clamp($num: 3) {
	display: -webkit-box;
	-webkit-line-clamp: $num;
	-webkit-box-orient: vertical;  
	overflow: hidden;
  }
  