@use '../../../../modules//variables' as vars;
@use '../../../../modules/layouts/alignments/items';
@use '../../../../modules/typography/fonts';

$profile-image-size-small: 250px;
$profile-image-size-medium: 350px;
$profile-image-size-large: 450px;

.about {
    position: relative;
    padding: vars.$extra-large-gap 0;

    .subtitle {
        @include fonts.hand-written-font(30px);
    }

    .title {
        @include fonts.main-bolded-font(50px);
        color: vars.$accent;
        line-height: 1.1;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: vars.$large-gap;
    
        @media screen and (min-width: 700px) {
            @include items.fully-align(flex-start, space-between, row, nowrap);
        }
    }

    .text-wrapper {
        order: 1;
    }

    .image-wrapper {
        order: 0;
        margin-left: auto;
        margin-right: 0;
    }

    .text-wrapper, .image-wrapper {
        @media screen and (min-width: 700px) {
            margin-left: unset;
            margin-right: unset;
            order: unset;
        }
        
    }
    
    .desc {
        margin-top: vars.$default-gap;
    }

    .read-more-text,
    .read-more-btn-text {
        display: none;
    }

    .read-more-btn {
        width: 140px;
        margin-top: vars.$large-gap;

        .text {
            display: none;
        }
    }

    .open {
        display: block;
    }
}

.about-image {
    width: $profile-image-size-small;
    height: $profile-image-size-small;
    overflow: hidden;
    border-radius: 36% 64% 35% 65% / 55% 31% 69% 45%;

    @media screen and (min-width: 700px) {
        margin-left: vars.$large-gap;
    }

    @media screen and (min-width: 992px) {
        min-width: $profile-image-size-medium;
        height: $profile-image-size-medium;
    }

    @media screen and (min-width: 1200px) {
        min-width: $profile-image-size-large;
        height: $profile-image-size-large;
    }
}