$fonts-path: '../../assets/fonts';

@font-face {
    font: {
        family: 'Indie_Flower';
		style: normal;
		weight: 400;
    }
    src: url('#{$fonts-path}/Indie_Flower/IndieFlower-Regular.ttf');
}

@font-face {
    font: {
        family: 'Montserrat Regular';
		style: normal;
		weight: 400;
    }
    src: url('#{$fonts-path}/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font: {
        family: 'Montserrat Medium';
		style: normal;
		weight: 500;
    }
    src: url('#{$fonts-path}/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
    font: {
        family: 'Montserrat SemiBold';
		style: normal;
		weight: 600;
    }
    src: url('#{$fonts-path}/Montserrat/static/Montserrat-SemiBold.ttf');
}