@use '../../../../modules/variables' as vars;
@use '../../../../modules/components/backgrounds/generate' as backgrounds;
@use '../../../../modules/typography/fonts';

@use 'sass:color';

.skills {
	@include backgrounds.image('background/skills.jpg', cover, #aa9d8a);
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    border: {
        top: 5px solid vars.$accent;
        bottom: 5px solid vars.$accent;
    }

    .skill-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            padding-bottom: vars.$default-gap;
            font-size: 42px;
        }
    }
}

.skills-list {
    .item {
        @include fonts.main-bolded-font(20px);
        position: relative;
        z-index: 1;
        margin-top: vars.$small-gap;
        padding: 0 4px;
        text-align: center;
        background-color: color.adjust(vars.$accent, $alpha: -.4);
    }
}