@use '../../../../modules/variables' as vars;
@use '../../../../modules/layouts/alignments/items';
@use '../../../../modules/typography/fonts';
@use '../../../../modules/components/backgrounds/generate' as backgrounds;
@use '../../../../modules/components/headers/generate' as headers;

.opening-hero {
    @include items.fully-align(stretch, center);
	@include backgrounds.image('background/mobile/home-hero.jpg');
    @include headers.default(25px, 70px);
    position: relative;
    height: 100vh;
    padding-top: 110px;
    background-position: center;

    @media screen and (min-width: 1024px) {
        @include backgrounds.image('background/desktop/home-hero.jpg');
    }

    .text {
        @include fonts.hand-written-font(30px);
        margin-top: vars.$large-gap;
    }
}