@use '../../../../modules/variables' as vars;
@use '../../../../modules/layouts/alignments/items';
@use '../../../../modules/typography/fonts';
@use '../../../../modules/states/hovers';
@use '../../../../modules/components/backgrounds/generate' as backgrounds;

.opening-hero {
    @include items.fully-align(stretch, center);
	@include backgrounds.image('background/mobile/home-hero.jpg');
    position: relative;
    height: 100vh;
    padding-top: 10%;
    background-position: center;

    @media screen and (min-width: 1024px) {
        @include backgrounds.image('background/desktop/home-hero.jpg');
    }

    .title {
        @include fonts.main-bolded-font(70px);
        color: vars.$accent;
        line-height: 1.1;
    }

    .subtitle {
        font-size: 25px;
        text-transform: uppercase;
    }

    .text {
        @include fonts.hand-written-font(30px);
        margin-top: vars.$large-gap;
    }
}