@use '../../../../modules/variables' as vars;
@use '../../../../modules/layouts/alignments/items';
@use '../../../../modules/typography/fonts';
@use '../../../../modules/states/hovers';
@use '../../../../modules/components/backgrounds/generate' as backgrounds;

.opening-hero {
    @include items.fully-align(stretch, center);
	@include backgrounds.image('background/bg-days.jpg');
    position: relative;
    height: 100vh;
    padding-top: 10%;

    .title {
        color: vars.$accent;
    }

    .text {

        font-size: 50px;
        line-height: 1.45;
        display: inline;
        box-decoration-break: clone;
        background: #fff;
        padding: 0 vars.$default-gap;
    }
}

.layout {
    background-color:rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}