@use '../../../../modules/variables' as vars;

@use 'sass:color';

.carousel {
    margin: {
        top: vars.$extra-large-gap;
        bottom: vars.$large-gap;
    }

    @media screen and (min-width: 1024px) {
        width: 60%;
        margin: {
            right: auto;
            left: auto;
        }
    }
}

.carousel-image {
    min-height: 440px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-bottom: vars.$extra-large-gap;

    @media screen and (min-width: 768px) {
        height: 500px;
        width: auto;
    }
}

.carousel-control-prev,
.carousel-control-next {
    margin: {
        right: vars.$default-gap;
        left: vars.$default-gap;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: unset;
    height: unset;
    background-image: none;
}

.carousel-indicators [data-bs-target] {
    background-color: vars.$accent;
}