@use '../../../../modules/variables' as vars;

.carousel {
    margin: {
        top: vars.$extra-large-gap;
        bottom: vars.$large-gap;
    }

    @media screen and (min-width: 1024px) {
        width: 60%;
        margin: {
            right: auto;
            left: auto;
        }
    }
}

.carousel-image {
    height: 500px;
    width: auto;
    margin: 0 auto;
    margin-bottom: vars.$extra-large-gap;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(0.44) sepia(0.75) hue-rotate(86deg) saturate(5) brightness(0.95) contrast(1.2);
}

.carousel-indicators [data-bs-target] {
    background-color: vars.$accent;
}