@use '../../../../modules/variables' as vars;
@use '../../../../modules/typography/fonts';
@use '../../../../modules/typography/modification';
@use '../../../../modules/states/hovers';

@use 'sass:color';

.main-nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: color.adjust(#000, $alpha: -.4);

    .logo {
        height: 44px;
    }

    .item {
        @include fonts.main-bolded-font();
        @include modification.first-letter-capital();
        padding: vars.$default-gap;
        font-size: vars.$font-size-large;

        &:hover {
            background-color: vars.$accent;
            color: vars.$font-color-light;
        }
    }
}