@use '../../../modules/variables' as vars;

@use 'sass:color';


:root {
    --default-font-color: #{vars.$font-color-dark};

    --body-background: #{vars.$background-light};
    --default-linear-gradient: #{vars.$gradient-default};
    --experience-background: linear-gradient(323deg, rgba(226,227,229,1) 0%, rgba(236,238,239,1) 34%);
    --experience-block-background: #{vars.$gradient-default};
    --skill-background: #{color.adjust(vars.$background-default, $alpha: -.3)};
    
    --hero-mobile-background: transparent url(../../assets/images/background/mobile/home-hero.jpg) no-repeat left top / cover;
    --hero-desktop-background: transparent url(../../assets/images/background/desktop/home-hero.jpg) no-repeat left top / cover;
    
    --contact-mobile-background: transparent url(../../assets/images/background/mobile/footer-hero.jpg) no-repeat left top / cover;
    --contact-desktop-background: transparent url(../../assets/images/background/desktop/footer-hero.jpg) no-repeat left top / cover;
}