img {
  width: 100%;
}

.main-container {
  padding: 32px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Quicksand Regular";
  font-size: 20px;
  margin: 0;
  color: #FDF5E4;
  background-color: #1f2827;
}
body * {
  outline-color: #D8573D;
}

body, div, h1, h2, h3, h4, h5, h6, p, a, span, section, header, nav, main, footer, article, aside, ul, li {
  box-sizing: border-box;
  line-height: 1.5;
}

span {
  line-height: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: #FDF5E4;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}
a:hover, a:hover::before {
  color: #EF7459;
}
@media (hover: hover) {
  a:hover {
    color: #EF7459;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: "Quicksand SemiBold";
  font-size: 20px;
  color: #1f2827;
  line-height: 1.25;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  color: #FDF5E4;
}

@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Quicksand Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/Quicksand/static/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf");
}
.button-accent, .button-primary {
  font-family: "Quicksand SemiBold";
  font-size: 16px;
  padding: 16px 22px;
  transition: 0.2s;
  border: 1px solid transparent;
  line-height: 1.1;
  color: #FDF5E4;
}

.button-primary {
  background-color: #1f2827;
  transition: 0.3s;
}
.button-primary:hover {
  background-color: #2b3e3c;
}

.button-accent {
  background-color: #D8573D;
  transition: 0.3s;
}
.button-accent:hover {
  background-color: #EF7459;
}

.main-nav .item {
  font-family: "Quicksand SemiBold";
  font-size: 16px;
  background-color: #1f2827;
  transition: 0.3s;
  padding: 16px;
  font-size: 20px;
}
.main-nav .item:hover {
  background-color: #D8573D;
}
.main-nav .item:hover {
  color: #FDF5E4;
}

.introduction .title {
  font-family: "Caveat";
  font-size: 72px;
  color: #D8573D;
}

.first-letter-capitalized {
  display: inline-block;
}
.first-letter-capitalized::first-letter {
  text-transform: capitalize;
}

.capitalized {
  text-transform: uppercase;
}

.space-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.align-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.align-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.align-vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.forbidden {
  cursor: not-allowed;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */