.container {
  width: 90%;
  max-width: unset;
}

img {
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Montserrat Regular";
  font-size: 20px;
  margin: 0;
}
body * {
  outline-color: transparent;
}
body.open-menu {
  overflow: hidden;
}

body, div, h1, h2, h3, h4, h5, h6, p, a, span, section, header, nav, main, footer, article, aside, ul, li {
  box-sizing: border-box;
  line-height: 1.5;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, li::-moz-selection {
  background: rgba(0, 204, 131, 0.6117647059);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, li::selection {
  background: rgba(0, 204, 131, 0.6117647059);
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, li::-moz-selection {
  background: rgba(0, 204, 131, 0.6117647059);
}

br::-moz-selection {
  background: transparent;
}

br::selection {
  background: transparent;
}
br::-moz-selection {
  background: transparent;
}

span {
  line-height: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}
a:hover, a:hover::before {
  color: #059c66;
}
@media (hover: hover) {
  a:hover {
    color: #059c66;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: "Montserrat SemiBold";
  font-size: 20px;
  color: #212121;
  line-height: 1.25;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  color: #212121;
}

@font-face {
  font-family: "Indie_Flower";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}
.standout-text {
  font-family: "Indie_Flower";
  font-size: 23px;
}

.button-accent, .button-primary {
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  padding: 16px 22px;
  transition: 0.2s;
  border: 1px solid transparent;
  line-height: 1.1;
  color: #f1eee6;
}

.button-primary {
  background-color: #212121;
  transition: 0.3s;
}
.button-primary:hover {
  background-color: #1f2827;
}

.button-accent {
  background-color: #00cc83;
  transition: 0.3s;
}
.button-accent:hover {
  background-color: #059c66;
}

.scroll-button {
  color: #f1eee6;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  font-size: 60px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.3);
}
.scroll-button:hover, .scroll-button:hover::before {
  color: #00cc83;
}
@media (hover: hover) {
  .scroll-button:hover {
    color: #00cc83;
  }
}
.scroll-button:hover {
  border-color: #00cc83;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: unset;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav .mobile-nav-item,
.main-nav .social-nav {
  border-top: 2px solid #059c66;
}
@media screen and (min-width: 1024px) {
  .main-nav .mobile-nav-item,
  .main-nav .social-nav {
    border-top: none;
  }
}
.main-nav .mobile-nav-item {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .main-nav .mobile-nav-item {
    width: unset;
  }
}
.main-nav .item {
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  padding: 16px;
  font-size: 20px;
  color: #f1eee6;
}
.main-nav .item:first-letter {
  text-transform: uppercase;
}
.main-nav .item:hover {
  background-color: #00cc83;
}
.main-nav .toggle-icon,
.main-nav .logo-wrapper {
  height: 62px;
}
.main-nav .logo-wrapper {
  padding: 6px 16px;
}
.main-nav .logo {
  width: 78px;
  height: 44px;
}
.main-nav .toggle-icon {
  font-size: 30px;
}
.main-nav .nav-wrapper {
  position: absolute;
  top: 62px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main-nav .nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: static;
    flex: 2 1 0;
    height: unset;
    background-color: unset;
    text-align: unset;
  }
}
@media screen and (min-width: 1024px) {
  .main-nav .section-nav,
  .main-nav .social-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
.main-nav .section-nav .trivia .icon, .main-nav .section-nav .go-home .icon {
  position: relative;
  top: 2px;
}
.main-nav .section-nav .go-home .icon {
  display: inline-block;
  transform: scaleX(-1);
}
@media screen and (min-width: 1024px) {
  .main-nav .section-nav {
    flex: 2 1 0;
  }
}
.main-nav .social-nav {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .main-nav .social-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.opening-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  background-image: url("../../assets/images/background/mobile/home-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: left top;
  position: relative;
  height: 100vh;
  padding-top: 110px;
  background-position: center;
}
.opening-hero .subtitle {
  font-family: "Indie_Flower";
  font-size: 25px;
}
.opening-hero .title {
  font-family: "Montserrat SemiBold";
  font-size: 70px;
  color: #00cc83;
  line-height: 1.1;
}
.opening-hero .hero-subtitle {
  font-family: "Montserrat SemiBold";
  font-size: 25px;
  text-transform: uppercase;
}
.opening-hero .mobile-break-word {
  display: block;
}
@media screen and (min-width: 500px) {
  .opening-hero .mobile-break-word {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .opening-hero {
    background-image: url("../../assets/images/background/desktop/home-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: left top;
  }
}
.opening-hero .text {
  font-family: "Indie_Flower";
  font-size: 30px;
  margin-top: 32px;
}

.skills {
  background-image: url("../../assets/images/background/mobile/skills-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aa9d8a;
  background-position: center;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding: 64px 0;
}
@media screen and (min-width: 1024px) {
  .skills {
    background-image: url("../../assets/images/background/desktop/skills-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #aa9d8a;
    background-position: center;
    height: 100vh;
  }
}
.skills .skill-group {
  padding: 32px 0 32px 32px;
  background-color: rgba(247, 245, 239, 0.7);
}
.skills .skill-group .subtitle {
  font-family: "Indie_Flower";
  font-size: 25px;
}
.skills .skill-group .title {
  font-family: "Montserrat SemiBold";
  font-size: 40px;
  color: #00cc83;
  line-height: 1.1;
}
.skills .skill-group .hero-subtitle {
  font-family: "Montserrat SemiBold";
  font-size: 25px;
  text-transform: uppercase;
}
.skills .skill-group .mobile-break-word {
  display: block;
}
@media screen and (min-width: 500px) {
  .skills .skill-group .mobile-break-word {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .skills .skill-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
  }
}

.skills-list .item {
  font-family: "Montserrat SemiBold";
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-top: 8px;
  margin-left: 28px;
  padding: 0 4px;
}
.skills-list .item::before {
  content: "\e908";
  font-family: "icomoon";
  font-size: 24px;
  position: absolute;
  top: -3px;
  left: -28px;
  margin-right: 8px;
  color: #059c66;
}

.contact {
  background-image: url("../../assets/images/background/mobile/footer-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: left top;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact .title {
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .contact {
    background-image: url("../../assets/images/background/desktop/footer-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: left top;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 32px;
  padding-bottom: 64px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #fff;
}
.form .subtitle {
  font-family: "Indie_Flower";
  font-size: 20px;
}
.form .title {
  font-family: "Montserrat SemiBold";
  font-size: 20px;
  color: #00cc83;
  line-height: 1.1;
}
.form .hero-subtitle {
  font-family: "Montserrat SemiBold";
  font-size: 20px;
  text-transform: uppercase;
}
.form .mobile-break-word {
  display: block;
}
@media screen and (min-width: 500px) {
  .form .mobile-break-word {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .form {
    padding-bottom: 32px;
  }
}

.input-field,
.textarea {
  padding: 8px;
  background-color: #f7f5ef;
  font-size: 16px;
}

.input-field {
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #212121;
}
.input-field:focus {
  border: none;
  border-bottom: 2px solid #00cc83;
}

.textarea:focus {
  border: 2px solid #00cc83;
}

.footer {
  position: relative;
  background-color: #212121;
}
.footer .footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer .item {
  color: #f1eee6;
  transition: 0.3s;
  background-color: transparent;
  transition: 0.3s;
  padding: 16px;
}
.footer .item:hover, .footer .item:hover::before {
  color: #f1eee6;
}
@media (hover: hover) {
  .footer .item:hover {
    color: #f1eee6;
  }
}
.footer .item:hover {
  background-color: #00cc83;
}
.footer .images-used {
  position: absolute;
  top: 50%;
  right: 16px;
  bottom: unset;
  left: unset;
  transform: translateY(-50%);
}
.footer .images-used .icon {
  cursor: pointer;
  color: #f1eee6;
  font-size: 24px;
}
.footer .images-used .content {
  position: absolute;
  top: unset;
  right: 0;
  bottom: 45px;
  left: unset;
  width: 300px;
  border: 1px solid #6f6f6f;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: none;
}
.footer .images-used .item, .footer .images-used .text {
  display: block;
  font-size: 16px;
}
.footer .images-used .item {
  color: #212121;
  transition: 0.3s;
}
.footer .images-used .item:hover, .footer .images-used .item:hover::before {
  color: #f1eee6;
}
@media (hover: hover) {
  .footer .images-used .item:hover {
    color: #f1eee6;
  }
}
.footer .images-used .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #424445;
  background: #00cc83;
}
.footer .images-used .header .text {
  color: #f1eee6;
}
.footer .images-used .header .close-icon {
  color: #f1eee6;
  transition: 0.3s;
  margin-left: 8px;
  font-size: 24px;
  cursor: pointer;
}
.footer .images-used .header .close-icon:hover, .footer .images-used .header .close-icon:hover::before {
  color: #212121;
}
@media (hover: hover) {
  .footer .images-used .header .close-icon:hover {
    color: #212121;
  }
}

.cards-conainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 112px;
}
@media screen and (min-width: 1024px) {
  .cards-conainer {
    display: grid;
    max-width: 100%;
    margin-top: 64px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 16px;
  }
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: 16px;
}
@media screen and (min-width: 1024px) {
  .card {
    width: unset;
    height: unset;
    margin-top: 0;
  }
}
.card .card-banner {
  position: absolute;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Montserrat Medium";
  font-size: 16px;
  padding: 8px;
  background-color: rgba(33, 33, 33, 0.7);
  color: #f1eee6;
  text-transform: uppercase;
}
.card .link {
  width: 100%;
  height: 100%;
}

.applications {
  filter: saturate(0.6);
  transition: 0.3s;
}
.applications:hover {
  filter: saturate(0.4);
}
@media screen and (min-width: 700px) {
  .applications {
    min-width: 300px;
    width: 100%;
    max-width: 49%;
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .applications {
    min-width: unset;
    width: unset;
    max-width: unset;
    display: block;
  }
}

.app-ebo {
  grid-column: 1/3;
  grid-row: 1/3;
}

.app-ebo {
  background-image: url("../../assets/images/projects/app-ebo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-ns {
  grid-column: 3/5;
  grid-row: 1/3;
}

.app-ns {
  background-image: url("../../assets/images/projects/app-ns.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c6b6e5;
  background-position: center;
}

.app-web-workshop {
  grid-column: 5/7;
  grid-row: 1/3;
}

.app-web-workshop {
  background-image: url("../../assets/images/projects/app-web-workshop.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #7d50fc;
  background-position: center;
}

.app-entry {
  grid-column: 1/3;
  grid-row: 3/5;
}

.app-entry {
  background-image: url("../../assets/images/projects/app-entry.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #9cd3e7;
  background-position: center;
}

.app-interview {
  grid-column: 3/5;
  grid-row: 3/5;
}

.app-interview {
  background-image: url("../../assets/images/projects/app-interview.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ebd78e;
  background-position: center;
}

.app-nhl {
  grid-column: 5/7;
  grid-row: 3/5;
}

.app-nhl {
  background-image: url("../../assets/images/projects/app-nhl.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #d1d1d0;
  background-position: center;
}

.app-eu-fund {
  grid-column: 1/3;
  grid-row: 5/7;
}

.app-eu-fund {
  background-image: url("../../assets/images/projects/app-eu-fund.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-web-workshop-lecturer {
  grid-column: 3/5;
  grid-row: 5/7;
}

.app-web-workshop-lecturer {
  background-image: url("../../assets/images/projects/app-web-workshop.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #7d50fc;
  background-position: center;
}

.app-codepen {
  grid-column: 5/7;
  grid-row: 5/7;
}

.app-codepen {
  background-image: url("../../assets/images/projects/app-codepen.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.experience {
  position: relative;
  padding: 64px 0;
  background: linear-gradient(323deg, rgb(226, 227, 229) 0%, rgb(236, 238, 239) 34%);
}
.experience .header .subtitle {
  font-family: "Indie_Flower";
  font-size: 30px;
}
.experience .header .title {
  font-family: "Montserrat SemiBold";
  font-size: 50px;
  color: #00cc83;
  line-height: 1.1;
}
.experience .header .hero-subtitle {
  font-family: "Montserrat SemiBold";
  font-size: 30px;
  text-transform: uppercase;
}
.experience .header .mobile-break-word {
  display: block;
}
@media screen and (min-width: 500px) {
  .experience .header .mobile-break-word {
    display: inline-block;
  }
}
.experience .header .desc {
  width: 100%;
  max-width: 700px;
  margin-top: 32px;
}

.experience-block-container {
  margin-top: 64px;
}

.experience-block {
  margin-top: 32px;
  padding: 16px;
  border-radius: 4px;
  background: linear-gradient(94deg, rgb(227, 255, 231) 0%, rgb(217, 231, 255) 99%);
}
.experience-block .text {
  font-family: "Indie_Flower";
  font-size: 30px;
  position: relative;
  text-transform: capitalize;
}
.experience-block .text::after {
  position: absolute;
  top: unset;
  right: 0;
  bottom: 4px;
  left: 0;
  content: "";
  height: 10px;
  display: block;
  border-bottom: 10px solid rgba(5, 156, 102, 0.7);
}

.projects-wrapper {
  top: -102px;
  position: absolute;
  z-index: 1;
  right: 0;
}
.projects-wrapper .text {
  font-family: "Indie_Flower";
  font-size: 22px;
}
.projects-wrapper .icon {
  transform: scaleY(-1);
  display: block;
  padding-right: 32px;
  font-size: 55px;
  text-align: right;
  color: #059c66;
}

.about {
  position: relative;
  min-height: 100vh;
  padding: 64px 0;
}
.about .subtitle {
  font-family: "Indie_Flower";
  font-size: 30px;
}
.about .title {
  font-family: "Montserrat SemiBold";
  font-size: 50px;
  color: #00cc83;
  line-height: 1.1;
}
.about .hero-subtitle {
  font-family: "Montserrat SemiBold";
  font-size: 30px;
  text-transform: uppercase;
}
.about .mobile-break-word {
  display: block;
}
@media screen and (min-width: 500px) {
  .about .mobile-break-word {
    display: inline-block;
  }
}
.about .content {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (min-width: 700px) {
  .about .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.about .text-wrapper {
  order: 1;
}
.about .image-wrapper {
  order: 0;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 700px) {
  .about .text-wrapper, .about .image-wrapper {
    margin-left: unset;
    margin-right: unset;
    order: unset;
  }
}
.about .desc {
  margin-top: 16px;
}
.about .link {
  font-family: "Montserrat Medium";
  font-size: 20px;
  color: #00cc83;
}
.about .read-more-text,
.about .read-more-btn-text {
  display: none;
}
.about .read-more-btn {
  width: 140px;
  margin-top: 32px;
}
.about .read-more-btn .text {
  display: none;
}

.about-image {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 36% 64% 35% 65%/55% 31% 69% 45%;
}
@media screen and (min-width: 700px) {
  .about-image {
    margin-left: 32px;
  }
}
@media screen and (min-width: 992px) {
  .about-image {
    min-width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .about-image {
    min-width: 450px;
    height: 450px;
  }
}

.carousel {
  margin-top: 64px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .carousel {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

.carousel-image {
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .carousel-image {
    height: 500px;
    width: auto;
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(0.44) sepia(0.75) hue-rotate(86deg) saturate(5) brightness(0.95) contrast(1.2);
}

.carousel-indicators [data-bs-target] {
  background-color: #00cc83;
}

.post-warpper {
  margin-top: 100px;
}
@media screen and (min-width: 768px) {
  .post-warpper {
    margin-top: 80px;
  }
}
.post-warpper .link {
  color: #059c66;
  transition: 0.3s;
  font-family: "Montserrat SemiBold";
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  margin-left: -16px;
}
.post-warpper .link:hover, .post-warpper .link:hover::before {
  color: #00cc83;
}
@media (hover: hover) {
  .post-warpper .link:hover {
    color: #00cc83;
  }
}
.post-warpper .link:hover {
  animation: shake 150ms 2 linear;
}
.post-warpper .link .icon {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .post-warpper .link {
    margin-left: 0;
  }
}

.post {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: -16px;
  margin-left: -16px;
  padding: 16px;
  background: linear-gradient(94deg, rgb(52, 55, 65) 0%, rgb(227, 255, 231) 99%);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .post {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: 0;
    margin-left: 0;
    padding: 32px;
  }
}
.post .header, .post .content {
  background-color: #f7f5ef;
}
.post .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #00cc83;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .post .header {
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 16px;
  }
}
.post .header .image {
  width: 150px;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .post .header .image {
    width: 200px;
    height: 200px;
  }
}
.post .header .title {
  font-family: "Indie_Flower";
  font-size: 36px;
}
@media screen and (min-width: 768px) {
  .post .header .title {
    font-size: 60px;
  }
}
.post .content {
  margin-top: 32px;
  padding: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #00cc83;
}
.post .text {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .post .text {
    font-size: 20px;
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.arrow {
  opacity: 0;
  position: absolute;
  left: 4%;
  top: 50%;
  transform-origin: 50% 50%;
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  content: "\e902";
  font-family: "icomoon";
  position: absolute;
  font-size: 100px;
  color: #059c66;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.trivia-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/images/background/desktop/trivia-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center bottom;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.page-trivia .opening-hero {
  background: none;
}
.page-trivia .opening-hero .subtitle, .page-trivia .opening-hero .text {
  color: #f1eee6;
}
.page-trivia .opening-hero .title {
  font-size: 35px;
}
@media screen and (min-width: 768px) {
  .page-trivia .opening-hero .title {
    font-size: 70px;
  }
}
.page-trivia .opening-hero .text {
  margin-top: 16px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .page-trivia .opening-hero .text {
    margin-top: 32px;
    font-size: 30px;
  }
}
.page-trivia .cards-conainer {
  display: flex;
  justify-content: start;
  margin-top: 0;
  padding: 64px 0;
  padding-top: 0;
}
@media screen and (min-width: 783px) {
  .page-trivia .cards-conainer {
    grid-gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .page-trivia .cards-conainer {
    grid-gap: 32px;
  }
}
.page-trivia .post-link {
  display: block;
  width: 100%;
}
@media screen and (min-width: 783px) {
  .page-trivia .post-link {
    width: 332px;
  }
}
.page-trivia .post-link:first-child {
  position: relative;
  overflow: visible;
}
.page-trivia .post-link:first-child::before {
  content: "I'm fresh blood!";
  position: absolute;
  top: -19px;
  left: 0;
  background-color: #059c66;
  color: #f1eee6;
  padding: 4px 16px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  .page-trivia .post-link:first-child::before {
    width: 332px;
    top: -35px;
  }
}
.page-trivia .card {
  height: auto;
  padding: 16px;
  box-shadow: rgba(0, 204, 131, 0.16) 16px 16px 82px 0px;
  border: 1px solid #059c66;
  background: #f2f2f2;
  cursor: pointer;
  transition: 0.3s;
}
.page-trivia .card:hover {
  box-shadow: rgba(0, 204, 131, 0.2) -15px 8px 98px 54px;
  transition: 0.3s;
}
.page-trivia .card .cover-image {
  height: 290px;
  overflow: hidden;
  border: 1px solid #059c66;
}
.page-trivia .card .cover-image .image {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}
.page-trivia .card .title, .page-trivia .card .desc {
  margin-top: 16px;
}
.page-trivia .card .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 50px;
}
.page-trivia .card .desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  height: 72px;
}
.page-trivia .card .read {
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  margin-top: 16px;
  color: #059c66;
}
.page-trivia .card .read:hover {
  transform: scale(1.01);
}

.hide {
  display: none;
}

.hide-on-desktop {
  display: block;
}
@media screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

.open {
  display: block !important;
}

.border-top-accent {
  border-top: 5px solid #00cc83;
}

.status-message {
  font-family: "Montserrat Medium";
  font-size: 18px;
  display: none;
  margin-top: 16px;
  font-size: 18px;
}
.status-message::before {
  font-family: "icomoon";
  font-size: 24px;
  position: relative;
  top: 4px;
  margin-right: 8px;
}
.status-message.status-success {
  color: #059c66;
}
.status-message.status-success::before {
  content: "\e908";
}
.status-message.status-error {
  color: #E54141;
}
.status-message.status-error::before {
  content: "\e907";
}/*# sourceMappingURL=main.css.map */