@use '../../../../modules/variables' as vars;
@use '../../../../modules/typography/fonts';
@use '../../../../modules/states/hovers';
@use '../../../../modules/components/cards/generate' as cards;


.cards-conainer {
	display: grid;
	max-width: 100%;
	grid: {
		template-columns: repeat(6, 1fr);
		auto-rows: minmax(150px, auto);
		gap: vars.$default-gap;
	}
}

.card {
    position: relative;
	overflow: hidden;
	justify-content: center;
	padding: vars.$default-gap;

	.card-banner, .content {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		box-shadow: vars.$default-shadow;
	}

	.card-banner {
		@include fonts.main-medium-font(20px);
		padding: vars.$small-gap;
		background-color: #e1fbeb;
		text-transform: uppercase;
		text-align: center;
	}

	.title {
		@include fonts.main-bolded-font(55px);
		color: vars.$primary;
		text-transform: uppercase;
	}

	.content {
		bottom: 0;
		padding: 12px;
		background-color: #fff;
		font-size: 19px;
	}

	.link {
		width: 100%;
		height: 100%;
	}

	&:hover {
		.title {
			opacity: 0;
		}
	}

	.open {
		display: block;
	}

}

.applications {
	filter: saturate(0.6);
	transition: vars.$default-transition;
	&:hover {
		filter: saturate(0.4);
	}
}

@include cards.generate();