@use '../../../../modules/variables' as vars;
@use '../../../../modules/typography/fonts';
@use '../../../../modules/components/cards/generate' as cards;
@use '../../../../modules/layouts/positions/absolute';

@use 'sass:color';

.cards-conainer {
	position: relative;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-top: 112px;

	@media screen and (min-width: 1024px) {
		display: grid;
		max-width: 100%;
		margin-top: vars.$extra-large-gap;
		grid: {
			template-columns: repeat(6, 1fr);
			auto-rows: minmax(150px, auto);
			gap: vars.$default-gap;
		}
    }
}

.card {
    position: relative;
	overflow: hidden;
	width: 100%;
	height: 300px;
	margin-top: vars.$default-gap;

	@media screen and (min-width: 1024px) {
		width: unset;
		height: unset;
		margin-top: 0;
    }

	&.latest {
		position: relative;
		overflow: visible;
		&::before {
			content: "I'm fresh blood!";
			position: absolute;
			top: -35px;
			left: 0;
			background-color: vars.$accent-dark;
			color: vars.$font-color-light;
			padding: calc(vars.$small-gap / 2) vars.$default-gap;
			font-size: 18px;
		}
	}

	.card-banner {
        @include absolute.position-unset(unset, 0, 0, 0);
		@include fonts.main-medium-font(16px);
		padding: vars.$small-gap;
        background-color: color.adjust(vars.$primary, $alpha: -.3);
		color: vars.$font-color-light;
		text-transform: uppercase;
	}

	.link {
		width: 100%;
		height: 100%;
	}
}

.applications {
	filter: saturate(0.6);
	transition: vars.$default-transition;
	&:hover {
		filter: saturate(0.4);
	}

	@media screen and (min-width: 700px) {
		min-width: 300px;
		width: 100%;
        max-width: 49%;
		display: inline-block;
    }

	@media screen and (min-width: 1024px) {
		min-width: unset;
		width: unset;
        max-width: unset;
		display: block;
    }
}

@include cards.generate();