@use '../../../../modules/variables' as vars;
@use '../../../../modules/components/headers/generate' as headers;

@use 'sass:color';

.form {
    @include headers.default(20px, 20px);
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: vars.$large-gap;
    padding-bottom: vars.$extra-large-gap;
    box-shadow: vars.$default-shadow;
    background: var(--body-background);

    @media screen and (min-width: 1024px) {
        padding-bottom: vars.$large-gap;
    }
}

.input-field,
.textarea {
    padding: vars.$small-gap;
    background-color: vars.$background-default;
    font-size: vars.$font-size-default; 
}

.input-field {
    margin-bottom: vars.$default-gap;
    border: none;
    border-bottom: 1px solid vars.$primary;

    &:focus {
        border: none;
        border-bottom: 2px solid vars.$accent;
    }
}

.textarea {
    &:focus {
        border: 2px solid vars.$accent;
    }
}

.form-label {
    position: absolute;
    top: 9px;
    left: 0;
    padding: {
        right: vars.$small-gap;
        left: vars.$small-gap;
    }
    font-size: 16px;
    transition: all .3s ease;
    color: $label-inactive;
}

.input-field:invalid {
    + .form-label {
        top: -19px;
        font-size: 13px;
        color: $label-active;
    }
}
