@use '../../../../modules/variables' as vars;
@use '../../../../modules/components/headers/generate' as headers;

.form {
    @include headers.default(20px, 20px);
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: vars.$large-gap;
    box-shadow: vars.$default-shadow;
    background: #fff;
}

.input-field,
.textarea {
    padding: vars.$small-gap;
    background-color: vars.$background-default;
    font-size: vars.$font-size-default; 
}

.input-field {
    margin-bottom: vars.$default-gap;
    border: none;
    border-bottom: 1px solid vars.$primary;

    &:focus {
        border: none;
        border-bottom: 2px solid vars.$accent;
    }
}

.textarea {
    &:focus {
        border: 2px solid vars.$accent;
    }
}