@mixin shake() {
    @keyframes shake {
        0% {
          transform: translate(3px, 0);
        }
        50% {
          transform: translate(-3px, 0);
        }
        100% {
          transform: translate(0, 0);
        }
    }
}

@mixin arrow-movement() {
    @keyframes arrow-movement {
        0% { 
            opacity: 0;
            top: 45%;
        }
        70% {
            opacity: 1;
        }
        100% { 
            opacity: 0;
        }
    }
}