@use 'sass:string';

$root: '../../assets/images/';

@mixin image($path, $size, $color:transparent, $position: left top) {
	background: {
        image: url($root + string.unquote($path));
        repeat: no-repeat;
        size: $size;
		color: $color;
		position: $position;
    }
}