@use '../../../../modules/variables' as vars;
@use '../../../../modules/components/backgrounds/generate' as backgrounds;

.contact {
	@include backgrounds.image('background/mobile/footer-hero.jpg');
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .title {
        margin-bottom: vars.$default-gap;
    }

    @media screen and (min-width: 1024px) {
        @include backgrounds.image('background/desktop/footer-hero.jpg');
    }
}