@use '../../../../modules/variables' as vars;
@use '../../../../modules/typography/fonts';
@use '../../../../modules/states/hovers';

.introduction {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 62px);

    .item {
        flex: 1 1 50%;
    }
    
    .image {
        height: 100%;
        box-shadow: vars.$default-shadow;
    }
    .title {
        @include fonts.hand-written-font(72px);
        color: vars.$accent;
    }
}