$primary:  #212121;
$primary-light:  #1f2827;

$accent: #D8573D;
$accent-light: #EF7459;

$font-color: #f1eee6;
$font-color-dark: #212121;

$background-default: #f7f5ef;

$font-size-default: 16px;
$font-size-large: 20px;

$default-gap: 16px;
$small-gap: calc($default-gap / 2);
$large-gap: calc($default-gap * 2);
$extra-large-gap: calc($large-gap * 2);

$border-radius: 4px;
$default-border: 1px solid #424445;

$default-transition: .3s;

$default-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;