$primary:  #212121;
$primary-light:  #1f2827;

$accent: #00cc83;
$accent-dark: #059c66;

$font-color-light: #f1eee6;
$font-color-dark: #212121;

$background-default: #f7f5ef;
$gradient-default: linear-gradient(94deg, rgba(227,255,231,1) 0%, rgba(217,231,255,1) 99%);

$font-size-default: 16px;
$font-size-large: 20px;

$default-gap: 16px;
$small-gap: calc($default-gap / 2);
$large-gap: calc($default-gap * 2);
$extra-large-gap: calc($large-gap * 2);

$border-radius: 4px;
$default-border: 1px solid #424445;
$border-accent: 2px solid $accent-dark;

$default-transition: .3s;

$default-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$page-background: linear-gradient(323deg, rgba(226,227,229,1) 0%, rgba(236,238,239,1) 34%);