@use '../../../../modules/variables' as vars;

.footer {
    background-color: vars.$primary;

    .item {
        padding: vars.$default-gap;
        &:hover {
            background-color: vars.$accent;
            color: vars.$font-color;
        }
    }
}