@use '../../../../modules/variables' as vars;
@use '../../../../modules/layouts/alignments/items';

.footer {
    background-color: vars.$primary;

    .footer-list {
        @include items.align-absolute-center();
    }

    .item {
        padding: vars.$default-gap;
        &:hover {
            background-color: vars.$accent;
            color: vars.$font-color-light;
        }
    }
}