@use '../../../../modules/variables' as vars;
@use '../../../../modules/components/backgrounds/generate' as backgrounds;

.experience {
	position: relative;
	padding: vars.$extra-large-gap 0;
}

.app-favorite {
	flex-direction: row;
    justify-content: left;
    align-items: center;

	.icon {
		color: #01723A;
		font-size: 50px;
		transform: rotate(-90deg);	
	}
}